html, body {
    height: 100%;
    margin: 0;
    background-color: #F0F0F0;
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Loading screen styles */
.loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #133d85;
}

.loading-screen img {
    max-width: 100%;
    width: 600px;
    height: auto;
}

/* Responsive for tablets and smaller devices */
@media (max-width: 768px) {
    .loading-screen img {
        width: 80%;
    }
}

/* Responsive for mobile devices */
@media (max-width: 480px) {
    .loading-screen img {
        width: 60%;
    }
}

/* Login form styles (initially hidden) */
.login-page {
    display: none; /* Hidden initially */
    flex-direction: column; /* Stack the content vertically */
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.welcome {
    color: #133d85;
    font-size: 75px;
    text-align: center;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input {
    background-color: #F0F0F0;
    color: #333;
    border: 10px solid #133d85;
    font-size: 40px;
    border-radius: 40px;
    width: 700px;
    height: 100px;
    margin-bottom: 10px;
    text-align: center;
}

button {
    padding: 40px 100px;
    font-size: 40px;
    cursor: pointer;
    background-color: #133d85;
    color: white;
    border: none;
    border-radius: 60px;
    margin-top: 70px;
}

input:hover {
    border: 10px solid #ce7940;
}

button:hover {
    background-color: #ce7940;
}

@media (max-width: 768px) {
    .welcome {
        font-size: 55px;
    }

    input {
        font-size: 50px;
        height: 80px;
    }

    button {
        padding: 30px 80px;
        font-size: 35px;
    }
}

@media (max-width: 480px) {
    .welcome {
        font-size: 40px;
    }

    input {
        font-size: 40px;
        height: 70px;
    }

    button {
        padding: 20px 60px;
        font-size: 30px;
    }
}

.start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title h1{
    font-size: 200px;
    color: #133d85;
   
    margin-top: 0;
    margin-bottom: 0;
}